.box {
    height: 70px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.color-box-text {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@mixin create-color-palette ($base-color, $num-tones, $increment) {
    @for $i from 1 through $num-tones {
        .box.darken-#{$i} {
            background-color: darken($base-color, $increment * $i);
        }

        .box.lighten-#{$i} {
            background-color: lighten($base-color, $increment * $i);
        }

        .box.base-color {
            background-color: $base-color;
        }
    }
}

.container-1 {
    @include create-color-palette(#FF6F00, 4, 10%)
}

.container-2 {
    @include create-color-palette(#3949AB, 4, 10%)
}

.container-3 {
    @include create-color-palette(#26A69A, 4, 10%)
}